* {
  transition: 200ms ease-in-out;
  background: transparent;
}
.system-menu-box {
  border: 4px solid #323345;
  border-radius: 10px;
  box-shadow: inset 0 0 8 1px #11111b;
  background-color: #1e1e2d;
  padding: 20px;
}

.profile-image {
  margin: 0px;
  min-width: 40px;
  min-height: 40px;
  background-size: cover;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.time {
  color: #ffffff;
  font-family: "BigBlueTermPlus Nerd Font";
  font-weight: bold;
  font-size: 25px;
  margin: 0px;
}

.date-box {
  color: #ffffff;
  font-family: "BigBlueTermPlus Nerd Font";
  font-weight: bold;
  font-size: 14px;
  margin: 0px 60px 0px 10px;
}

.first-row-system {
  padding: 10px 4px;
}
.wifi-box, .bluetooth-box, .nightlight-box {
  padding: 0px 20px;
}

.bluetooth-buttons-box, .nightlight-buttons-box {
  padding: 0px 0px 0px 15px;
}

.wifi-button, .bluetooth-button, .nightlight-button {
  color: #b6b6b6;
  border: 0px solid transparent;
  border-radius: 50%;
  background: #313244;
  font-size: 18px;
  margin: 0px 0px 4px 0px;
}
.wifi-label .bluetooth-label .nightlight-label {
  font-family: "Ubuntu Nerd Font";
  color: #d1d1d1;
  font-size: 14px;
}

.sliders {
  background: #313244;
  padding: 20px;
  border-radius: 10px;
}
.volume-slider-icon {
  border: none;
  font-size: 18px;
  color: #94ee2d;
  border-radius: 50%;
}
.volume-slider trough {
  background-color: transparent;
  border-radius: 15px;
}
.volume-slider highlight {
  padding: 0.2em;
  background-color: #94ee2d;
  border-radius: 15px;
}
.brightness-slider-icon {
  border: none;
  font-size: 18px;
  color: #ecff42;
  border-radius: 50%;
}
.brightness-slider trough {
  background-color: transparent;
  border-radius: 15px;
}

.brightness-slider highlight {
  padding: 0.2em;
  background-color: #ecff42;
  border-radius: 15px;
}

.music-player-container {
  background: #313244;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0px;
}
.music-player-album {
  background-size: contain;
  background-color: #313244;
  min-width: 80px;
  min-height: 80px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
  margin: 0px 10px 10px 0px;
}

.music-player-name-box {
  background-color: #313244;
  border-radius: 30px;
  color: #ffffff;
}

.music-player-name-icon {
  background: #11111b;
  padding: 5px 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 18px;
}

.music-player-name {
  background: #11111b;
  padding: 5px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.music-player-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.music-player-artist {
  color: #ffffff;
  font-size: 16px;
}

.player-buttons-box {
  margin: 10px 0px;
  font-size: 20px;
}
.player-prev,
.player-pp,
.player-next {
  border: none;
    color: #ffffff;
}

.player-prev:hover,
.player-pp:hover,
.player-next:hover {
    color: #ffffff;
}
